
table{
    width: 1000px;
    height:600px;
    border: double maroon;
    background-color: moccasin;
    margin:auto;
}

th{
    color:bisque;
    background-color: mediumpurple;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
caption {
    font: size 1.5em;
    text-align: center;
}
.header{
    text-align: center;
    font-style: bold;
    color:maroon;
}
td{
    text-align: center;
    color:salmon;
    border: 1px solid maroon;
    font-family: sans-serif ;
}